*{
  font-family: 'Raleway', sans-serif;
}
body { 
  overflow-x: hidden;
}
.hLine {
  display: inline-block;
  height: 5px;
  width: 11rem;
  margin: 0;
  padding: 0;
  background: #07659D;
}

.vLine {
  border-left: 6px solid #07659D;
  /* height: 118px; */
}

/* Top-navbar-start */

.top-bar {
  position: relative;
  height: 35px;
  background-color: #07659D;
}

.top-bar .top-bar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.top-bar .top-bar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-bar .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 35px;
  padding: 0 10px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.top-bar .text:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.top-bar .text i {
  font-size: 14px;
  color: #ffffff;
  margin-right: 5px;
}

.top-bar .text a {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}


.top-bar .text p {
  color: #eeeeee;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 0 5px;
}

.top-bar .social {
  display: flex;
  height: 35px;
  font-size: 0;
  justify-content: flex-end;
}

.top-bar .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 100%;
  font-size: 16px;
  color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  text-decoration: none;
}

.top-bar .social a:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.top-bar .social a:hover {
  color: #092a49;
  background: #ffffff;
}

.top-bar-btn{
  padding: 15px 39px;
  font-size: 18px;
  background: #F08104;
  color: #fff;
  font-weight: bold;
  border: 2px solid #F08104;
}
.top-bar-btn:hover{
  padding: 15px 39px;
  font-size: 18px;
  background: #fff;
  color: #F08104;
  font-weight: bold;
  border: 2px solid #F08104;
}

@media (max-width: 786px)
{
  .top-bar{
    display: none;
  }
}
/* Top-navbar-end */

/* Desktop Navigation */

#header {
  height: 72px;
  /* transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s; */
  padding: 6px 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 80px;
}

.nav-menu, .nav-menu * {
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.drop-down-service{
  border-bottom: 1px solid #dee2e6;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #000;
  padding: 10px 25px;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #07659D;
  /* border-bottom: 5px solid #07659D; */
  text-decoration: none;
  font-weight: 700;
}

/* 
.nav-menu .get-started a {
  background: #F08104;
  color: #fff;
  border-radius: .25rem;
  margin: 0 15px;
  padding: 10px 25px;
  border: 2px solid #F08104;

}

.nav-menu .get-started a:hover {
  background: #fff;
  color: #F08104;
  border: 2px solid #F08104;

} */

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  /* top: calc(100% - 30px); */
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  color: #000;
  
}

 .drop-down ul a:hover,  .drop-down ul .active > a,  .drop-down ul li:hover > a {
  color: #07659D;
}
 .nav-menu .drop-down > a:after {
  content: "\ea67";
  font-family: IcoFont;
  padding-left: 5px;
}
:hover.drop-down > a:after {
  content: "\ea6a";
}

 .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.drop-down .drop-down > a {
  padding-right: 35px;
}

.drop-down .drop-down > a:after {
  content: "\ea67";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
 
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #F18A17;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
  transition: 0.3s;
  text-decoration: none;
  border-bottom: none !important;
}

.mobile-nav a:hover, .mobile-nav .activeLink > a, .mobile-nav li:hover > a {
  color: #fff;
  text-decoration: none;
}

.mobile-nav .get-started a {
  background: #07659D;
  color: #fff;
  border-radius: 50px;
  margin: 15px;
  padding: 10px 25px;
}

.mobile-nav .get-started a:hover {
  background: #07659D;
  color: #fff;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: absolute;
  right: 15px;
  top: 22px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #07659D;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(57, 63, 78, 0.9);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/* Pop-up form */

.form-popup {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto; 
  border: 1px solid #888;
  width: 80%; 
}
.form-container {
  width: 100%;
  background-color: white;
  box-shadow: 0px -6px 43px rgba(120, 118, 118, 0.25);
}
.form-container img{
  width: 100%;
  height: 100%;
  border-radius: 2% 0 0 2%;
}
.form-input-wrapper{
  padding: 30px;
}
.form-input-wrapper h2{
  font-size: 40px;
  font-weight: bolder;
  color: #07659D;
}
.form-input-wrapper p{
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.form-group label{
  padding-left: 11px;
  padding-bottom: 8px;
  padding-top:10px;
  font-weight: 600;
  line-height: 18px;

}
.form-group input{
  height: 50px;
}

.popupCloseButton {
  background-color: #F18A17;
  border: 3px solid #F18A17;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 33px;
  height: 33px;
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-container .btn {
  background-color: #08589B;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: #07659D;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.me-auto{
  margin-left: auto;
  margin-top: 3px;
}

.typewriter  {
  overflow: hidden;
  border-right: .15em solid #F08104;
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 5s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #F08104; }
}

@media (max-width: 1000px){
.activeLink{
border-bottom: none;
}
.talk-btn{
  display: none !important;
}
.form-popup {
  position: fixed;
  width: 100%;
  /* margin-top: 45%;  */
  margin-left: 0%; 
}
.nav-content{
  margin-top: 2rem;
  margin-left:5rem;
  margin-right:2rem;
}
}


/* Hero Section */
.page-hero-section {
  position: relative;
  height: 100%;
  background-image: url(../Images/Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.page-hero-section h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  white-space: nowrap;
}
.page-hero-section h1 {
  margin-top: 20px;
  color: #fff;
  font-size: 30px;
}
.page-hero-section h1 span {
  font-weight: bold;
  color: #F08104;
}
.page-hero-section .hero-caption {
  height: 100%;
}

.hero_head {
   color: #F08104;
  font-size: 4vw;
  font-weight: bolder;
  white-space: nowrap;
}

.hr-element{
  padding-bottom: 15px;
  border-top: 2px dashed white;
  letter-spacing: 2px;
}

.hero_para {
  color: #fff;
  font-size: 20px;
}

.rounded-btn {
  background: #F08104;
  border-radius: 6px;
  color: #fff;
  border: 2px solid #F08104;
  padding: 19px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.rounded-btn:hover {
  background-color: transparent;
  border: 2px solid #FB8500;
  color: #F08104;
  text-decoration: none;
}

.rounded-btn4 {
  background: #07659D;
  border-radius: 6px;
  color: #fff;
  border: 2px solid #07659D;
  padding: 19px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* width: 30%; */
  font-size: 20px;
  font-weight: bold;
}
.rounded-btn4:hover {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
}

.rounded-btn2 {
  background: #fff;
  border-radius: 6px;
  color: #000;
  border: 2px solid #fff;
  padding: 19px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* width: 30%; */
  font-size: 20px;
  font-weight: bold;
  margin-left: 5rem;
}

.rounded-btn2:hover {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}
.rounded-btn3{
  background: #fff;
  border-radius: 6px;
  color: #000;
  border: 2px solid #000;
  padding: 19px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* width: 35%; */
  font-size: 20px;
  font-weight: bold;
  margin-left: 3rem;
}

.rounded-btn3:hover {
  text-decoration: none;
  background-color: transparent;
  color: #000;
}
.banner-mage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.service-row-wrap{
  column-gap: 40px;
}
@media only screen and (max-width: 1060px) {
  
  .hero-caption a{
    display: none;
  }
  .rounded-btn3{
    margin-left: 0rem;
  }
  .page-hero-section h2 {
    font-size: 28px;
  }
 
}
@media only screen and (max-width: 768px) {
  .hero_head {
    white-space: normal;
    font-size: 38px;
  }
  .typewriter{
    animation: none;
    border-right: none;
  }
  .page-hero-section h2{
    white-space: normal;
    font-size: 26px;
  }
  .rounded-btn {
    display: none;
  }
  .rounded-btn2 {
    display: none;
  }
  .page-hero-section {
    margin-bottom: 10px;
  }
.rounded-btn3{
  margin-left: 0rem;
}
.page-hero-section h1 {
  font-size: 26px;
}
.rounded-btn4 {
  display: none;     
}
}


/* Service card */

.fact {
  margin-top: -75px;
  position: relative;
  width: 100%;
  padding-left: 29px;
}

.fact .fact-item {
  position: relative;
  width: 90%;
  height: 200px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.fact .fact-item img {
  max-height: 50px;
  margin-bottom: 15px;
}

.fact .fact-item h2 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.fact .fact-item p{
  font-size: 15px;
}

.fact .fact-item i{
  font-size: 40px;
}
.card1 {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #07659D;
  border-radius: 4px;
  padding: 32px 24px;
  text-decoration: none;
  z-index: 0;
  height: 100%;
  overflow: hidden;
}
.card1 p {
  position: relative;
  text-align: justify;
}

.card2 {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;

  background-color: #F08104;
  border-radius: 4px;
  padding: 32px 24px;

  text-decoration: none;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
.card2 p {
  position: relative;
  /* padding: 0 10px 0 10px; */
  text-align: justify;

}

.card3 {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  /* max-width: 262px; */
  background-color: #53A03C;
  border-radius: 4px;
  padding: 32px 24px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

}
.card3 h2{
  white-space: normal;
}
.card3 p {
  position: relative;
  /* padding: 0 10px 0 10px; */
  text-align: justify;

}
@media (max-width: 1025px){
  .fact .fact-item{
    height: 235px;
  }
  .fact .fact-item h2{
    font-size: 18px;
    letter-spacing: 0;
  }
}

@media (max-width: 769px){
  .fact .fact-item h2 {
    font-size: 16px;
  }
  .fact .fact-item {
    height: 230px;
  }
}


/* About Us */

.about-row-item {
  padding: 0 15px 0 15px;
}

.mobile-btn {
  display: none;
}
.left-col img {
  width: 75%;
  height: 100%;
}
.right-col {
  position: relative;
  align-items: center;
  justify-content: center;
}
.right-col h2{
  font-size: 40px;
  letter-spacing: 2px;
  color: #07659D;
  font-weight: 800;
} 
.right-col h4{
  letter-spacing: 2px;
  font-size: 45px;
}
.right-col h4 span{
  color: #07659D;
  letter-spacing: 2px;
  font-weight: 800;
}

.right-col p{
  font-size: 20px;
  color: #000;
  line-height: 33px;
  text-align: justify;
}
@media (max-width: 769px) {
  .mobile-btn {
    background: #07659D;
  border-radius: 6px;
  color: #fff;
  border: 2px solid #07659D;
  padding: 19px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* width: 30%; */
  font-size: 20px;
  font-weight: bold;
  }
  .mobile-btn:hover{
    color: #fff;
  }
 .right-col h4{
  letter-spacing: 2px;
  font-size: 21px;
}
.right-col h2 {
  font-size: 25px;
}
}

@media (max-width: 1180px) {
  .right-col h4{
    letter-spacing: 2px;
    font-size: 21px;
  }
  .right-col h2 {
    font-size: 33px;
  }
  .right-col p{
    line-height: normal;
  }
}


/* Serve Segment */
.industry-segment h2{
  font-size: 48px;
  font-weight: 600;
}
.industry-segment h2 span{
  color: #07659D;
  font-weight: 800;
}
.industry-segment p{
  text-align: justify;
  font-size: 20px;
  color: #000;
}

.tab button {
  display: block;
  padding: 20px 16px;
  width: 100%;
  border: 2px solid;
  border-radius: 15px;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
  margin-bottom: 5px;
}
.tab-btn1{
  background:#07659D;
   color: #fff;
}
.tab-btn2{
  background:#FB8500;
   color: #fff;
}
.tab-btn3{
  background:#2EBF02;
   color: #fff;
}
.tab-btn4{
  background:#FFB703;
   color: #fff;
}
.tab-btn5{
  background:#FE4D63;
   color: #fff;
}
.tab-btn6{
  background:#DA48FF;
   color: #fff;
}

.tab button.active {
  color: #000;
  border-radius: 15px;
  background-color: transparent;
}


.tabcontent {
  background: transparent;
  float: left;
  padding: 0px 12px;
  border-radius: 15px;
  border: 2px solid #07659D;
  /* width: 68%; */
  box-shadow: 0px 4px 13px rgba(128, 117, 117, 0.38);
  margin-left: 2%;
  height: 100%;
}
.tabcontent img {
  padding-top: 20px;
  padding-left:40px;
}
.tabcontent p{
  text-align: justify;
  font-size: 23px;
  font-weight: 600;
  padding: 30px 41px;
}
@media (max-width: 769px) {
  .industry-segment h2 {
  font-size: 30px;
  }
  .tabcontent p {
    font-size: 17px;
  }
  .tab button {
    font-size: 20px;
  }

}

/* ************ */
.serv-left-side h3{
  font-size: 40px;
  letter-spacing: 2px;
}
.serv-left-side h3 span{
  color: #07659d;
  font-weight: 800;
}
.serv-left-side p{
 color: #000;
 font-size: 20px;
 line-height: 28px;
 text-align: justify;
 padding-right: 76px;
}
.home-serv-item {
  position: relative;
  padding: 15px 0 10px 0;
  text-align: center;
  border-radius: 5px;
  height: 100%;
}
.home-serv-item p{
  color: gray;
  font-size: 12px;
}

.serv-item {
  position: relative;
  padding: 15px 0 10px 0;
  text-align: center;
  border-radius: 5px;
  height: 100%;
}
.serv-item p{
  color: gray;
  font-size: 12px;
}

.serv-rounded-btn{
  background: #07659D;
  border-radius: 6px;
  color: #fff;
  border: 2px solid #07659D;
  padding: 19px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* width: 40%; */
  font-size: 20px;
  font-weight: bold;
}
.serv-rounded-btn:hover {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
}
.serv-block-left{
  padding-left: 30px;
}

.why-btn{
  /* margin-top: 30px; */
  background: #07659D;
  border-radius: 6px;
  color: #fff;
  border: 2px solid #07659D;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* width: 40%; */
  font-size: 20px;
  font-weight: bold;
}
.why-btn:hover{
  color: #fff;
}

.item1 p{
  font-size: 18px;
  color: #fff;
  text-align: justify;
  padding: 0 24px;
}
.item2 p{
  font-size: 18px;
  color: #fff;
  text-align: justify;
  padding: 0 24px;
}
.item3 p{
  font-size: 18px;
  color: #fff;
  text-align: justify;
  padding: 0 24px;
}
.item4 p{
  font-size: 18px;
  color: #fff;
  text-align: justify;
  padding: 0 24px;
}
.item5 p{
  font-size: 18px;
  color: #fff;
  text-align: justify;
  padding: 0 24px;
}
.item6 p{
  font-size: 18px;
  color: #fff;
  text-align: justify;
  padding: 0 24px;
}
.item1 h6{
 font-weight: 700;
 font-size: 20px;
 line-height: 45px;
}
.item2 h6{
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
 }
 .item3 h6{
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
 }
 .item4 h6{
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
 }
 .item5 h6{
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
 }
 .item6 h6{
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
 }

.fa-paint-roller{
  color: #ffb703;
  font-size: 40px;
}

.fa-file-code{
  color: #07659D;
  font-size: 40px;
}

.fa-mobile-alt{
  color: #53A03C;
  font-size: 40px;
}

.fa-bullhorn{
  color: #219EBC;
  font-size: 40px;
}

.fa-business-time{
  color: #fb8500;
  font-size: 40px;
}


.fa-briefcase{
  color: #219ebc;
  font-size: 40px;
}

@media (max-width: 992px){
  .serv-left-side h3{
    font-size: 28px;
    letter-spacing: 2px;
  }

}

/* Services segment */
.serv-left-col{
  padding-right: 76px;
}
.serv-left-col span{
  color: #2476A8;
  font-weight: 800;
}
.serv-left-col h2{
  color: #000;
  /* line-height: 2px; */
  font-size: 40px;
}
.serv-left-col p{
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 20px;
  color: #000;
  line-height: 27px;
  text-align: justify;
}
.capsule1{
  display: flex;
  flex-direction: column;
  border: 2px solid #53a03c;
  border-radius: 0.3rem;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  width: 80%;
}
.capsule{
 background-color: transparent;
 display: flex;
 width: 100%;
 height: 71px;
 border-radius: 10px;
 border: 2px solid transparent;
 position: relative;
 border-radius: 6px;
 margin-bottom: 10px;
 box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.13);

}
.fa-mobile{
  display: block;
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 12px;
}
.fa-globe-americas{
  display: block;
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 12px;
}
.fa-figma{
  display: block;
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 12px;
}
.fa-folder-open{
  display: block;
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 12px;
}
.fa-pencil-ruler{
  display: block;
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 12px;
}
.fa-funnel-dollar{
  display: block;
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 12px;
}
.fa-store{
  display: block;
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 12px;
}
.fa-laptop{
  display: block;
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 12px; 
}

.left-side1{
  margin-top: -2px;
  height: 71px;
  border-radius: 6px;
  background-color: #07659D;
}
.left-side2{
  margin-top: -2px;
  height: 71px;
  border-radius: 6px;
  background-color: #FB8500;
}.left-side3{
  margin-top: -2px;
  height: 71px;
  border-radius: 6px;
  background-color: #FFB703;
}.left-side4{
  margin-top: -2px;
  height: 71px;
  border-radius: 6px;
  background-color: #53A03C;
}.left-side5{
  margin-top: -2px;
  height: 71px;
  border-radius: 6px;
  background-color: #219EBC;
}.left-side6{
  margin-top: -2px;
  height: 71px;
  border-radius: 6px;
  background-color: #07659D;
}.left-side7{
  margin-top: -2px;
  height: 71px;
  border-radius: 6px;
  background-color: #F68C1E;
}.left-side8{
  margin-top: -2px;
  height: 71px;
  border-radius: 6px;
  background-color: #264653;
}
.right-side{
  padding-top: 18px;
  display: flex;
  align-items: center;
  
}
.right-side p{

  font-size: 17px;
  font-weight: 600;
}
.serv-right-col img{
  width: 100%;
  height: 100%;

}

/* App devlopment */

.app-content-wrap p{
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: #000;
  text-align: justify;
  width: 80%;

}
.app-content-text{
  padding: 20px 5px;
    background-color: #E9F0F3;
    font-size: 25px;
    text-align: center;
 
    color: #000;
    line-height: 30px;
}


@media (max-width: 1150px) {
 
  .right-side p{
    font-size: 12px;
    white-space: normal;
  }
}
@media (max-width: 992px) {
 
  .right-side p{
    font-size: 10px;
    white-space: normal;
  }
  .why-div-wrap p{
    text-align: center;
  }
  .serv-left-side p{
    padding-right: 0;
  }
  .serv-left-col{
    padding-right: 0;
  }

 }

 @media (max-width:768px){
  .serv-block-left{
    padding-left: 0px;
    padding-right: 0px;
  }
  .serv-block-right{
    padding-right: 0px;
    padding-left: 0px;
  }
  .serv-card-wrap{
    padding-left: 0;
  }
  .serv-left-col h2 {
    font-size: 30px;
  }
  .right-side p{
    font-size: 17px;
    white-space: normal;
  }
 }

/* Core Value */

.core-div h3{
  font-size: 40px;
  letter-spacing: 2px;
}
.core-div h3 span{
  color: #07659d;
  font-weight: 800;
}
.core-div p{
  text-align: justify;
  text-justify: inter-cluster;
  font-size: 21px;
  color: #000;
  padding-right: 80px;
}
.core-left-col img{
  height:450px;
  width: 75%;
  padding-left: 30px;
}
.core-list li{
  padding-bottom: 1rem;
}

.core-list1{
  font-size: 20px;
  font-weight: 600;
  list-style: none;
  background: url(/assets/Images/Vector.png) no-repeat;
  padding-left: 2rem;
}
.core-list2{
  font-size: 20px;
  font-weight: 600;
  list-style: none;
  background: url(/assets/Images/Vector1.png) no-repeat;
  padding-left: 2rem;
}
.core-list3{
  font-size: 20px;
  font-weight: 600;
  list-style: none;
  background: url(/assets/Images/Vector2.png) no-repeat;
  padding-left: 2rem;
}
.core-list4{
  font-size: 20px;
  font-weight: 600;
  list-style: none;
  background: url(/assets/Images/Vector3.png) no-repeat;
  padding-left: 2rem;
}
.core-list5{
  font-size: 20px;
  font-weight: 600;
  list-style: none;
  background: url(/assets/Images/Vector4.png) no-repeat;
  padding-left: 2rem;
}
@media (max-width: 992px) {
  /* .core-left-col{
    display: none;
  } */
  .core-div p{
      padding-right: 0;
  }
  .core-div h3{
    font-size: 30px;
    letter-spacing: 2px;
  }
 }

/* Why Us */
.why-div-wrap{
  padding-right: 76px;
}
.why-div-wrap h3{
  font-size: 40px;
  letter-spacing: 2px;
}
.why-div-wrap h3 span{
  color: #07659d;
  font-weight: bold; 
}
.why-div-wrap p{
  font-size: 20px;
  line-height: 38px;
  /* color: #000; */
  text-align: justify;
}

.why-img-wrap img{
  padding-top: 76px;
  width: 100%;
  /* height: 80%; */
}
.why-img-bullet img{
  padding-bottom: 20px;
}
.why-text-bullet p{
  padding-top: 4px;
  padding-bottom: 12px;
}
.why-text-bullet-para1{
  color: #FB8500; 
  font-size: 20px; 
  font-weight: bold;
}
.why-text-bullet-para2{
  color: #07659D; 
  font-size: 20px;
   font-weight: bold;
}
.why-text-bullet-para3{
  color: #53A03C; 
  font-size: 20px; 
  font-weight: bold;
}
@media (max-width: 992px) {
  .why-text-bullet-para1{
    font-size: 14px; 
  }
  .why-text-bullet-para2{
    font-size: 14px;
  }
  .why-text-bullet-para3{
    font-size: 14px; 
  }
  .why-div-wrap{
    padding-right: 0;
  }
  .why-div-wrap h3{
    font-size: 30px;
    letter-spacing: 2px;
  }
  .why-text-bullet p{
    padding-left: 15px;
  }
 }


/* footer */
.footer-div-wrap h5{
  font-size: 28px;
  font-weight: bold;
}
.bootom-footer{
  background: #07659D ;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fotter-link a{
  color: #fff;
  text-decoration: none;
}
.fotter-link a:hover {
  color: #F68C1E;
}
.footer-social a{
  color: #fff;
}

.fa-facebook-square:hover{
  transform: scale(1.2);
  color: #0E8EF1;
}
.fa-linkedin:hover{
  transform: scale(1.2);
  color: blue;
}
.fa-instagram:hover{
  transform: scale(1.2);
  color:crimson;
}
.fa-twitter-square:hover{
  color: #219ebc;
  transform: scale(1.2);
}
.footer-social-linkWrap{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.footer-social-linkWrap a{
  text-decoration: none;
  color: #fff;
}


@media (max-width: 992px) {

  .bootom-footer p{
    text-align: center;
  }
}

/**********************/
/*********************/
/********************/
/* ABOUT US */
/**********************/
/*********************/
/********************/

.bredacrum-field{
  /* width: 100%; */
  height: 15rem;
  background: url(/assets/Images/Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bredacrum-field h2{
  font-size: 45px;
  font-weight: 800;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}


.about-row-item {
  padding: 0 15px 0 15px;
}

.abt-col-web img{
  width: 80%;
  height: 220px;
} 
.abt-right-col {
  position: relative;
  align-items: center;
  justify-content: center;
}
.abt-right-col h2{
  font-size: 28px;
  color: #07659D;
  font-weight: 800;
} 
.abt-right-col h4{
  letter-spacing: 2px;
  font-size: 45px;
}
.abt-right-col h4 span{
  letter-spacing: 2px;
  font-weight: bold;
  color: #07659D
  ;
}

.abt-right-col p{
  font-size: 20px;
  color: #000;
  line-height: 33px;
  text-align: justify;
}
.abt-right-col p span{
  font-weight: 700;
}

.abt-btn2{
  background: #2B8439  ;
  border-radius: 6px;
  color: #fff;
  border: 2px solid #2B8439;
  padding: 19px 58px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.abt-btn2:hover {
  text-decoration: none;
  background-color: transparent;
  color: #2B8439;
}
.abt-sol-para{
background-color: #000;
 font-size: 22px;
  text-align: justify;
   color: #fff; 
   line-height: 36px;
}

@media (max-width: 992px) {
 .abt-right-col h4{
  letter-spacing: 2px;
  font-size: 26px;
}

.abt-btn2{
  margin-left: 0;
}
.bredacrum-field h2{
  font-size: 30px;
}
.abt-right-col{
  padding-top: 2rem;
}
.abt-right-col p {
font-size: 16px;
letter-spacing: 0;
text-align: inherit;
}
.abt-right-col h2{
  font-size: 20px;
}

.abt-sol-para{
  font-size: 17px;
}

}

/* Mission Section */
.mission-wrap img{
  float: right;
  margin-left: 7rem;
}
.mission-wrap h1{
  font-size: 42px;
  font-weight: 800;
  color: #000;
  line-height: 54px;
}

.mission-wrap h1 span{
  color: #07659D;
}
.mission-wrap h6{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.mission-wrap{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}


  .box{
   position: relative;
   overflow: hidden;
   }

   .box h1{
    position: absolute;
    top:50%;
    left: 50%;
    color: #fff; 
    font-size: 2.5vw;
    font-weight: 700;
    transform: translate(-50%, -50%)
   }
   .box:hover h1{
     display: none;
   }

  .box img{
  width: 100%;
  height: 50%;
  }

  .box .box-content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out 0.3s;
  }
  .box:hover .box-content{
  transform: translateY(0);
  opacity: 1;
  }
  
.box .content{
  width: 100%;
  height: 100%;
  background: rgba(155, 154, 154, 0.6);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3) inset;
  padding: 22% 10%;
  transform: scale(0.4,0.4);
  transition: all 0.35s ease-in-out 0.6s;
}
.box:hover .content{
  transform: scale(1,1);
}
.box .title{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.box .title:after{
  content: "";
  display: block;
  width: 50%;
  border-bottom: 1px solid #fff;
  margin: 10px auto;
}

.box .description{
  font-weight: 600;
  font-size: 22px;
  color: #fff;
  line-height: 25px;
}
.box .read{
  background: #fff;
  font-size: 14px;
  color: #07659d;
  border: 1px solid #fff;
  text-transform: capitalize;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 6px;
  transition: all 0.4s ease 0s;
  text-decoration: none;
}
.box .read:hover{
  text-decoration: none;
  border-radius: 6px;
}
@media screen and (max-width:990px){
  .box{ margin-bottom:20px; }
.mission-wrap h1{
font-size: 25px;
text-align: initial;
line-height: 30px;
}

.mission-wrap img{
  display: none;
}
.box .description{
  font-weight: 400;
  font-size: 15px;
  
}

}
@media screen and (max-width:360px){
  .box .content{ padding: 15% 10%; }
  .mission-wrap img{
    display: none;
  }
}

/* Work Process */
.floating img{  
  width: 100%;
}
.floating{  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  padding-left: 50px;
   
}

@keyframes floating{
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}
.hLine2 {
  display: inline-block;
  height: 10px;
  width: 15rem;
  margin: 0;
  padding: 0;
  background: #fff;
  
}

.process-cont{
  background: linear-gradient(0deg, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
.process-cont h2{
  padding-top: 5px;
  font-size: 46px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 2rem;
}
.process-cont h2 span{
  color: #fff;
  font-weight: 800;
}
.service-item{
  color: #fff;
}
.serv-img1{
  background: url(/assets/Images/iconicon.svg) no-repeat;
  padding: 10px 10px;
  padding-left: 4rem;
}
.icon-left1 {
  background:url('/assets/Images/ProcessIcons/1.svg') no-repeat ;
}
.icon-left2 {
  background:url('/assets/Images/ProcessIcons/2.svg') no-repeat ;
}
.icon-left3 {
  background:url('/assets/Images/ProcessIcons/3.svg') no-repeat ;
}
.icon-left1 img{
  float: left;
  padding: 10px 10px;
  border: 2px solid;
  margin-right: 2rem;
  background: #FDBD17;
}
.icon-left1 img:hover{
  background: none;
}

.icon-left2 img{
  float: left;
  padding: 10px 10px;
  border: 2px solid;
  margin-right: 2rem;
  background: #75CB43;
}
.icon-left2 img:hover{
  background: none;
}
.icon-left3 img{
  float: left;
  padding: 10px 10px;
  border: 2px solid;
  margin-right: 2rem;
  background: #B41AFD;
}
.icon-left3 img:hover{
  background: none;
}
.icon-right1{
  background: url(/assets/Images/ProcessIcons/4.svg) no-repeat right;
}
.icon-right2{
  background: url(/assets/Images/ProcessIcons/5.svg) no-repeat right;
}
.icon-right3{
  background: url(/assets/Images/ProcessIcons/6.svg) no-repeat right;
}

.pro-text{
  padding-right: 7rem;
}
.pro-text h3{
  font-size: 22px;
  font-weight: 700;
 
}
.pro-text p{
  font-size: 18px;
  /* text-align: right; */
}
.pro-text-left{
  padding-left: 7rem;
  }
.pro-text-left h3{
  font-size: 22px;
  font-weight: 700;
}
.pro-text-left p{
  font-size: 18px;
}

@media (max-width:767px)
{
  .floating-img{
    display: none;
  }

  .process-cont h2{
    font-size: 30px;
  }
}
/* Counter */
.counter-wrapper{
  margin-top: -25px;
  text-align: center;
  box-shadow: 0px -6px 43px rgba(120, 118, 118, 0.25);
  width: 98%;
  background-color: #ffffff;
  border-radius: 15px;
}
.counter-inner-wrapper{
  padding: 25px 0;
}
.counters-text h2{
  font-size: 48px;
  font-weight: 800;
  line-height: 59px;
}
.counters-text p{
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

/* Team Member */
.team-wrap{
  position: relative;
  text-align: center;
}

.team-wrap h3{
  font-size: 45px;
  font-weight: 400;
  line-height: 40px;
}
.team-wrap h1{
  font-size: 45px;
  font-weight: 800;
  color: #07659D;
}

.team{
  position: relative;
  overflow: hidden;
  background: #F6F8F9;
}
.team img{
    width: 100%;
    height: 50%;
}
.team h6{
  position: relative;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.team p{
  position: relative;
  text-align: center;
  font-size: 14px;

}

@media (max-width: 786px){
  .team-wrap h3 {
    font-size: 30px;
  }
  .team-wrap h1 {
font-size: 30px;
  }
}

/**********************/
/*********************/
/********************/
/* SERVICES*/
/**********************/
/*********************/
/********************/
.serc-wrap h2{
  font-size: 28px;
  font-weight: 800;
  color: #07659D;
}
.serc-wrap h3{
  font-size: 46px;
  font-weight: bold;
  line-height: 63px;
}
.serc-wrap h3 span{
  color: #07659D;
}

.serc-wrap p{
  padding-top: 20px;
  text-align: justify;
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
}
.serc-box{
  width: 44%;
  margin: 15px;
  border: 2px solid #CBE0EC;
}
.serc-box img{
  margin-top: -25px;
}
.serc-box h5{
  padding-top: 20px;
  font-weight: 600;
}
.serc-box p{
  font-size: 15px;
}

.serc-img img{
  width: auto;
  height: 100%;
}

.tool-vec{
  font-size: 24px;
  font-weight: 600;
  background: url(/assets/Images/Vector.svg) no-repeat;
  padding-left: 2rem;
}
@media (max-width:1020px){
  .serc-box{
    width: 40%;
  }
}
@media (max-width:999px) {
  .serc-wrap h3 {
    font-size: 36px;
  }
  .serc-box h5 {
    font-size: 15px;
  }
}
@media (max-width:768px){
  .serc-img img{
    display: none;
  }
}

/**********************/
/*********************/
/********************/
/* Portfolio */
/**********************/
/*********************/
/********************/
.prt-right-col {
  position: relative;
  align-items: center;
  justify-content: center;
}
.prt-right-col h2{
  font-size: 28px;
  letter-spacing: 2px;
  color: #07659D;
  font-weight: 800;
} 

.prt-right-col h4{
  letter-spacing: 2px;
  font-size: 45px;
}
.prt-right-col h4 span{
  letter-spacing: 2px;
  font-weight: bold;
  color: #07659D
  ;
}

.prt-right-col p{
  font-size: 20px;
  color: #000;
  line-height: 33px;
  text-align: justify;
}
.prt-right-col p span{
  font-weight: 700;
}

.row-wrapp,
.row-wrapp > .column {
  padding: 8px;
}
.column {
  display: none;
}
.row-wrapp:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  background-color: white;
  padding: 10px;
}
.show {
  display: block;
}

.port-btn {
  border: 1px solid #DEECF4;
  /* outline: none; */
  padding: 12px 16px;
  background-color: #DEECF4;
  color: #000;
  cursor: pointer;
  
}

.port-btn:hover {
  background-color: #07659D;
  color: #fff;
}

.port-btn.activeButton {
  background-color: #07659D;
  color: #fff;
}
.portfolio-wrap{
  padding-top: 15px;
  position: relative;
  text-align: center; 
}
.portfolio-wrap h5{
  font-size: 28px;
  font-weight: 800;
  color: #FDB605;
}
.portfolio-wrap h1{
  font-size: 46px;
  line-height: 62px;
}
.portfolio-wrap h1 span{
  color: #07659D;
}
@media (max-width:900px) {
  .prt-right-col h2 {
font-size: 21px;}
.prt-right-col h4 {
font-size: 27px;
}
.prt-right-col p{
  text-align: none;
}
.portfolio-wrap h1 {
  font-size: 25px;
}
.port-btn {
padding: 16px 5px;
}
}

/**********************/
/*********************/
/********************/
/* Contact Page */
/**********************/
/*********************/
/********************/
.contact-bredacrum-field{
  /* width: 100%; */
  height: 15rem;
  background: url(/assets/Images/Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-bredacrum-field h2{
  font-size: 45px;
  font-weight: 800;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.Conatct-card-wrap {
  position: relative;
  width: 100%;
  padding-left: 29px;
}
.contact-card-element{
  position: relative;
  text-align: center;
  justify-content: center;
}

.contact-card{
  background: #ffffff;
  border: 1px solid #07659D;
  border-radius: 4px;
  padding: 10px 24px;
  text-decoration: none;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 23px #D5D7D8;

}
.contact-card ul{
  list-style: none;
}

.contact-form-wrapper{
  position: relative;
  align-items: center;
}

.contact-form-wrapper .btn{
  background-color: #fff;
    color: #08589B;
    box-shadow: 0px 5px 10px #0D537D;
    padding: 10px 20px;
    font-size: 28px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 35%;
}

.form-heading{
  position: relative;
  text-align: center;
  color: #ffffff;
}

.form-heading h3{
  font-size: 46px;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.form-heading h3 span{
  font-weight: 700;

}
.contact-card-phone{
  padding-left: 33px;
}
.contact-card-email{
  padding-left: 30px;
}

.contact-card-img{
  margin-top: -12px;
}

@media (max-width: 769px){
  .Conatct-card-wrap{
    padding-left: 0;
  }
}
/**********************/
/*********************/
/********************/
/*Blog Page */
/**********************/
/*********************/
/********************/

#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}

.blog-content h3{
  font-size: 42px;
  font-weight: 600;
}
.blog-content p{
  font-size: 17px;
  text-align: justify ;
}

.blog-content a {
  cursor: pointer;
}

.blog-img img{
  width: 100%;
}
@media (max-width:1000px) {
  .contact-form-wrapper .btn{
    font-size: 25px;
 }
}

@media (max-width:900px) {
  .blog-content h3{
    font-size: 35px;
  }
  .contact-form-wrapper .btn{
      font-size: 20px;
      padding: 13px 13px;
  }
  .form-heading h3 {
  font-size: 22px;
  }
.contact-bredacrum-field h2{
  font-size: 25px;
}
.contact-card-img{
  margin-top: 0;
}
}

@media (max-width:768px) {
  .contact-form-wrapper .btn{
    font-size: 15px;
    padding: 13px 13px;
}
}
@media (max-width:465px) {
  .contact-form-wrapper .btn{
    font-size: 12px;
    padding: 13px 13px;
}
}
/* **************************************** */

.team-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
.team-card{
  position: relative;
  width: 350px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.team-card:before,
.team-card:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.team-card:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.team-card:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.team-card .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}

.team-card:hover .imgBx
{
  bottom: 80px;
}

.team-card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.team-card .details h2{
 margin: 0;
 padding: 0;
 font-weight: 900;
 font-size: 20px;
 color: #777;
 text-transform: uppercase;
} 

.team-card .details h2 span{
font-weight: 600;
font-size: 16px;
color: #f38695;
display: block;
margin-top: 5px;
 } 

 @media (max-width: 1024px)
 {
  .team-card {
    width: 300px;
  }
 }
 @media (max-width: 768px)
 {
  .team-card {
    width: 235px;
  }
 }
/* ************************* */
.tabs {
  position:relative;
  width:100%;
  height:360px;
  padding:30px 20px;
  overflow:hidden;
}
.tabs .tab-header {
  float:left;
  width:30%;
  height:100%;
  border-right:1px solid #ccc;
  padding:50px 0px;
}
.tabs .tab-header > div {
  height:50px;
  line-height:50px;
  font-size:16px;
  font-weight:600;
  color:#888;
  cursor:pointer;
  padding-left:10px;
}
.tabs .tab-header > div:hover,
.tabs .tab-header > div.active {
  color:#00acee;
}
.tabs .tab-header div i {
  display:inline-block;
  margin-left:10px;
  margin-right:5px;
}
.tabs .tab-content {
  position:relative;
  height:100%;
  overflow:hidden;
}
.tabs .tab-content > div > i {
  display:inline-block;
  width:50px;
  height:50px;
  background:#555;
  color:#f5f5f5;
  font-size:25px;
  font-weight:600;
  text-align:center;
  line-height:50px;
  border-radius:50%;
}
.tabs .tab-content > div {
  position:absolute;
  text-align:center;
  padding:40px 20px;
  top:-200%;
  transition:all 500ms ease-in-out;
}
.tabs .tab-content > div.active {
  top:0px;
}
 
.tabs .tab-indicator {
  position:absolute;
  width:4px;
  height:50px;
  background:#00acee;
  left:1%;
  top:80px;
  transition:all 500ms ease-in-out;
}
	      
/*************************************************************/
/* Service pages */
.design-div-wrap p{
  font-size: 28px;
  letter-spacing: 2px;
  color: #07659D;
  font-weight: 800;
}

.design-div-wrap h2{
  font-size: 46px;
  font-weight: 600;
}
.design-div-wrap h2 span{
  font-weight: 800;
  color: #07659D;
}
.sign-text-wrap li{
  background: url(/assets/Images/Vector.png) no-repeat;
  padding-left: 2rem;
  list-style: none;
  font-size: 22px;
  font-weight: 500;
}
.conter-wrap p{
  font-size: 23px;
  font-weight: 500;
  text-align: justify;
}
.all-service h2{
  font-size: 46px;
  font-weight: 600;
}
.all-service h2 span{
  font-weight: 800;
  color: #07659D;
}

.app-item{
position: relative;
padding: 15px 0 10px 0;
text-align: center;
border-radius: 5px;

}
.app-item p{
  text-align: start;
  padding-left: 14%;
}
.app-item li{
  text-align: start;
  padding-left: 14%;
}

.design-div p{
  text-align: justify;
  font-size: 23px;
  font-weight:500;
}

.open-item h6{
  font-size: 25px;
}

.open-item{
  position: relative;
padding: 15px 0 10px 0;
text-align: center;
border-radius: 5px;
height: 86%;
}
.imag02{
  padding: 0 20px 20px 20px;
}
.imag04{
  padding: 20px;
}

.app-development{
  height: 270px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.app-development-img img{
  float: right;
  height: 270px;
}
@media (max-width: 786px){
  .design-div-wrap p{
    font-size: 19px;
  }

.design-div-wrap h2{
  font-size: 40px;
}
.all-service h2 {
font-size: 30px;
}
}

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  grid-column-gap: 50px;
  }
  
  .grid > article {
    background: #fff;
    box-shadow: 0px 0px 16px rgba(164, 164, 164, 0.25);
    border-radius: 6px;
  }
  .grid > article img {
    padding: 10px;
  }

  .grid .text{
    padding: 20px;
  }
  .grid .text p{
    font-size: 17px;
    font-weight: 400;
  }
  .web-dev-wrap h2{
    font-size: 40px;
    font-weight: 800;
  }
  .web-dev-wrap h2 span{
    color: #07659D;
  }
  .web-dev-wrap p{
    font-size: 25px;
  }

  .mob-app-right h2{
    font-size: 40px;
    font-weight: 800;
  }
  .mob-app-right h2 span{
   color: #07659D;
  }
  .mob-app-right p{
    font-size: 25px;
  }
  .mob-app-left h2{
    padding-top: 2rem;
    font-size: 40px;
    font-weight: 800;
  }
  .mob-app-left h2 span{
   color: #07659D;
    
  }
  .mob-app-left p{
    padding-top: 2rem;
    font-size: 25px;
  }
  .custom-app img{
    width: 100%;
  }

  .social-div-wrap h2{
    font-size: 40px;
    font-weight: 800;
  }
  .social-div-wrap h2 span{
   color: #07659D;
    
  }

  .social-div h3{
   background: url('/assets/Images/check.svg') no-repeat;
   padding-left: 6.5rem;
      font-size: 30px;
      font-weight: 700;
      padding-bottom: 1rem;
  }
  .social-div p{
    font-size: 22px;
    font-weight: 400;
    color: #85909B;
  }

.rpa-list{
  background: url('/assets/Images/rpa/check.svg') no-repeat;
  padding-left: 4rem;
  font-size: 22px;
  font-weight: 700;
}
.rpa-list h3{
  font-size: 20px;
  font-weight: 700;
  /* padding: 16px 0; */
  padding-bottom: 35px;
  padding-top: 11px
}
.rpa-top-row h2{
  font-size: 40px;
  font-weight: 700;
}
.rpa-top-row h2 span{
  color:  #07659D;
}
.rpa-top-row p{
  padding: 15px 0;
  font-size: 25px;
}
.rpa-top-row img{
  width: auto;
}
/* Career page */
.career-top-content p{
  font-size: 28px;
line-height: 40px
}

.career-top-content h1{
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}
.job-type{
  padding: 10px;
  background: #FF9224;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
}
.job-type-body{
  box-shadow: 0px 0px 12px rgba(75, 75, 75, 0.25);
}
.card-link a{
  background: #07659D;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.submit-btn{
  background: #07659D;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.submit-btn:hover{
  color: #fff;
}
.card-link p{
  color: #F62727;
  font-size: 19px;
  font-weight: 600;
}
.form-head-text h3{
  color: #1280FB;
  font-size: 40px;
  font-weight: 500;
}
.form-head-text h1{
  font-size: 50px;
  font-weight: 700;
}
.form-head-text p{
  font-size: 21px;
  font-weight: 400;
}
.border-right {
  border-right: 2px solid #D5E0E7 ;
}

@media (max-width: 1250px){
  
  .mob-app-right p{
    font-size: 20px;
    padding-top: 0;
  }
  .web-dev-wrap h2{
    font-size: 58px;
    font-weight: 700;
  }
  .web-dev-wrap p{
    font-size: 20px;
  }
}

@media (max-width: 1024px){
  .mob-app-right h2{
    font-size: 30px;
  }
  .mob-app-right p{
    font-size: 18px;
    padding-top: 0;
  }
  .web-dev-wrap h2{
    font-size: 30px;
  }
  .web-dev-wrap p{
    font-size: 18px;
  }
  .rpa-top-row img{
    width: 100%;
  }
  .abt-left-col img {
    width: 100%;
  }
  .ecom-wrap img{
    width: 100%;

  }
}

@media (max-width: 768px){
  .col-revv {
    display: flex;
    flex-flow: column-reverse;
  }
  .mobile-dev img{
    width: 100%;
  }
 
}
.card-body img{
  transition: all 0.5s ease-in-out 0s;
}
.card-body:hover img{
  transform: scale(1.1);
}

.card-body .team-content{
  background: #fff;
  position: absolute;
  bottom: 8px;
  transition: all 0.4s ease-in-out 0s;
  z-index: -1;

}
.card-body:hover .team-content{
  z-index: 0;
}


